
@{
    ViewBag.Title = "Storia";
}

<h2 class="text-center heading mt-3 mb-5">Storia</h2>

<div class="container px-4">
    <div class="row mb-5">
        <div class="col-md-5 mb-5 px-5 px-md-0" data-aos="fade-right">
            <div class="image-container">
                <img src="~/Content/imgs/storia-1-1.png" alt="immagine interna pizzeria" class="shadow img-fluid first-image">
                <img src="~/Content/imgs/storia-1-2.png" alt="immagine esterna pizzeria" class="shadow img-fluid second-image">
            </div>
        </div>
        <div class="col-md-7 px-4 px-md-5 text-center mb-5" data-aos="zoom-in">
            <h2 class="fw-bolder">Le Origini</h2>
            <h3>La Nascita di BellaNapoli</h3>
            <p>Nel cuore di Napoli, nel lontano 1996, nacque BellaNapoli, frutto della passione e dedizione per l'arte culinaria della pizza. Fondata da una famiglia di pizzaioli di lunga tradizione, BellaNapoli si è impegnata fin dal primo giorno a portare l'autenticità e il sapore inconfondibile della vera pizza napoletana nelle case dei suoi clienti. La nostra storia inizia con un semplice forno a legna, ingredienti selezionati con cura e l'ambizione di creare non solo pizze, ma esperienze indimenticabili.</p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-7 px-4 px-md-5 text-center mb-5" data-aos="fade-right">
            <h2 class="fw-bolder">Oltre la Tradizione</h2>
            <h3>Impegno per la Qualità</h3>
            <p>Da oltre un quarto di secolo, BellaNapoli mantiene un impegno incrollabile nella ricerca della qualità. Ogni ingrediente è scelto per la sua freschezza e autenticità, proveniente direttamente dalle campagne italiane e, quando possibile, da fornitori locali napoletani. Questo non solo sostiene le comunità locali, ma garantisce anche che ogni fetta di pizza offra un'esperienza gustativa che è un viaggio diretto nel cuore della Campania. La nostra dedizione va oltre la pizza: è un tributo alla ricca eredità culinaria italiana.</p>
        </div>
        <div class="col-md-5 mb-5 px-5 px-md-0" data-aos="zoom-in">
            <div class="image-container">
                <img src="~/Content/imgs/storia-2-1.png" alt="pizzaiolo" class="shadow img-fluid first-image">
                <img src="~/Content/imgs/storia-2-2.png" alt="pizza con mozzarella al centro" class="shadow img-fluid third-image">
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-5 mb-5 px-5 px-md-0" data-aos="fade-right">
            <div class="image-container">
                <img src="~/Content/imgs/storia-3-2.png" alt="bella napoli delivery" class="shadow img-fluid first-image">
                <img src="~/Content/imgs/storia-3-1.png" alt="bella napoli delivery moderna" class="shadow img-fluid second-image">
            </div>
        </div>
        <div class="col-md-7 px-4 px-md-5 text-center mb-5" data-aos="zoom-in">
            <h2 class="fw-bolder">BellaNapoli Oggi</h2>
            <h3>La Vera Pizza Napoletana a Casa Tua</h3>
            <p>Nel corso degli anni, BellaNapoli ha abbracciato l'innovazione senza mai perdere di vista la tradizione. Con l'avvento del nuovo millennio, abbiamo espanso il nostro servizio introducendo la consegna a domicilio, portando l'esperienza della vera pizza napoletana direttamente a casa tua. Oggi, grazie alla tecnologia e al nostro impegno costante, offriamo non solo pizze, ma un pezzo della nostra storia, cultura e passione. E mentre guardiamo al futuro, il nostro cuore rimane a Napoli, perpetuando l'arte della pizza per generazioni a venire.</p>
        </div>
    </div>
</div>
